.math-node {
  position: relative;
}

.math-inline {
  display: inline-block;
  margin: 0 0.2em;
  vertical-align: middle;
}

.math-block {
  display: block;
  margin: 1em 0;
  text-align: center;
}

.math-editor {
  display: none;
}

.math-render {
  color: var(--vscode-editor-foreground);
}

.math-render .katex {
  font-size: 1.1em;
}

.math-error {
  color: var(--vscode-errorForeground);
  background-color: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 3px;
  font-size: 0.9em;
}

/* Show content when node is selected */
.math-node.ProseMirror-selectednode .math-editor {
  display: block;
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-input-border);
  padding: 0.5em;
  border-radius: 3px;
  margin: 0.5em 0;
}

.math-node.ProseMirror-selectednode .math-content {
  font-family: var(--vscode-editor-font-family);
  color: var(--vscode-input-foreground);
}

